
@{
    Layout = null;
}

<div style="margin-left:100px;background-color:yellow; margin-right:100px">
    <h3>Mesaj Gönderme Sayfası</h3>
    <label>Adınız soyadınız:</label>
    <input type="text" />
    <br />
    <label>Mail adresiniz:</label>
    <input type="email" />
    <br />
    <label>Mesaj Konusu:</label>
    <input type="text" />
    <br />
    <label>Mesajınız:</label>
    <textarea rows="5"></textarea>
    <br />
    <button>Mesaj gönder</button>
</div>