@model DeevFolio.Models.TblFeature
@{
    ViewBag.Title = "UpdateFeature";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Özelliği Güncelle</h2>

<form method="post">
    <label>Özellik Id</label>
    @Html.TextBoxFor(x => x.FeatureID, new { @class = "form-control" })
    <br />
    <label>Başlık</label>
    @Html.TextBoxFor(x => x.HeaderTitle, new { @class = "form-control" })
    <br />
    <label>Açıklama</label>
    @Html.TextBoxFor(x => x.HeaderDescription, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Özelliği Güncelle</button>
</form>