<nav id="sidebar">
    <div class="p-4 pt-5">
        <a href="#" class="img logo rounded-circle mb-5" style="background-image: url(/Templates/devfolio-master/img/icons8-admin-100.png);"></a>
        <ul class="list-unstyled components mb-5">
            
            <li><a href="/Profile/Index/">Portfolyo</a></li>     
            <li><a href="/About/Index/">Hakkımda</a></li>
            <li><a href="/Project/CreateProject/">Yeni Proje Girişi</a></li>
            <li><a href="/Service/ServiceList/">Hizmetler</a></li>
            <li><a href="/Statistic/Index/">İstatistikler</a></li>
            <li><a href="/Project/Index/">Projeler</a></li>
            <li><a href="/Testimonial/Index/">Referanslar</a></li>
            <li><a href="/Contact/Index/">İletişim Bilgileri</a></li>
            <li><a href="#">Gelen Mesajlar</a></li>
            <li><a href="#">Ayarlar</a></li>
            <li><a href="#">Çıkış Yap</a></li>
        </ul>

        <div class="footer">
            <p>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;
                <script>document.write(new Date().getFullYear());</script> 
                <br />
                Tüm Hakları Saklıdır 
            </p>
        </div>

    </div>
</nav>
