
@{
    Layout = null;
}

<h3>Merhaba dünya</h3>
<h4>DeFolio Projesi</h4>
<div style="background-color:cadetblue">Burası bir divdir</div>
<br />
<div style="background-color:orangered">Burası ikinci div alanıdır.</div>
<br />
<a href="http://www.google.com">Google git</a>
<hr />
<a href="http://www.mynet.com">Mynete git</a>